<div class="container mx-auto">
  <div class="grid md:grid-cols-3 gap-4">
    <div class="lg:col-span-2 md:col-span-3">
      <img src="https://www.orchideen-wichmann.de/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/p/_/p._vietnamense_10112.jpg" alt="" class="">
    </div>
    <div class="hidden lg:block">
      <img src="https://cdn.shopify.com/s/files/1/1770/6937/collections/Neofinetia_falcata-1_6749803121_l.jpg?v=1529866231" alt="" class="">
      <img src="https://globalorchids.info/images/1097_1.jpg" alt="" class="mt-6">
    </div>
  </div>
</div>

